$small-devices: "(min-width: 576px)";
$medium-devices: "(min-width: 768px)";
$large-devices: "(min-width: 992px)";
$extra-large-devices: "(min-width: 1200px)";

$header: #1F1F1F;
$background: #292929;
$font-white: #fff;
$hover: #696969;
$chat-blue:#007EF4;
$chat-black:#A6A6A6;