@import "node_modules/bootstrap/dist/css/bootstrap";
@import "fontawesome/fontawesome.scss";
@import "fontawesome/fa-solid.scss";
@import "_variables";
@import "_mixins";

 
body{
    background-color:$background;
}

.top-header{
    background-color:$header;
    border-radius:0 0 30px 30px;
    color:$font-white;
}

.bottom-header{
    position: fixed;
    bottom:0; 
    background-color:$header;
    border-radius:30px 30px 0 0;
    color:$font-white;
    min-height:50px;
}

a.list-group-item{
    background-color: $background;
    border:0;
    color:$font-white;
    border-radius: 5px;
    margin-bottom:5px;

    &:hover{
        background-color:$hover;
    }
}

.chatbox{
    padding-bottom: 60px;
}

#messages {

    li{
        padding:5px;
        list-style: none;
        &.other{
            background-color:$chat-black;
            color:$font-white;
            
        }
        &.mine{
            background-color:$chat-blue;
        }
    }
}

.test {
    padding:0;
    margin:0;
    color:$background;
    
    @include sm{
		&:after {
			content: "";
			display: none;
		}
	}
}
